*,
::after,
::before {
  box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: "Yeseva One", "Cormorant Garamond", system-ui, -apple-system,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo,
    monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}

button {
  background-color: transparent;
  background-image: none;
}

fieldset {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  font-family: suisse;
  line-height: 1.5;
}

body {
  font-family: inherit;
  line-height: inherit;
}

*,
::after,
::before {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}

hr {
  border-top-width: 1px;
}

img {
  border-style: solid;
}

textarea {
  resize: vertical;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  color: #a1a1aa;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  opacity: 1;
  color: #a1a1aa;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #a1a1aa;
}

[role="button"],
button {
  cursor: pointer;
}

:-moz-focusring {
  outline: auto;
}

table {
  border-collapse: collapse;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

code,
kbd,
pre,
samp {
  font-family: "Yeseva One", ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}

[hidden] {
  display: none;
}

*,
::after,
::before {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-transform: translateX(var(--tw-translate-x))
    translateY(var(--tw-translate-y)) rotate(var(--tw-rotate))
    skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
    scaleY(var(--tw-scale-y));
  border-color: currentColor;
  --tw-blur: var(--tw-empty, /*!*/ /*!*/);
  --tw-brightness: var(--tw-empty, /*!*/ /*!*/);
  --tw-contrast: var(--tw-empty, /*!*/ /*!*/);
  --tw-grayscale: var(--tw-empty, /*!*/ /*!*/);
  --tw-hue-rotate: var(--tw-empty, /*!*/ /*!*/);
  --tw-invert: var(--tw-empty, /*!*/ /*!*/);
  --tw-saturate: var(--tw-empty, /*!*/ /*!*/);
  --tw-sepia: var(--tw-empty, /*!*/ /*!*/);
  --tw-drop-shadow: var(--tw-empty, /*!*/ /*!*/);
  --tw-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
  --tw-backdrop-blur: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-brightness: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-contrast: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-grayscale: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-hue-rotate: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-invert: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-opacity: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-saturate: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-sepia: var(--tw-empty, /*!*/ !);
  --tw-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
}

.pointer-events-none {
  pointer-events: none;
}

.pointer-events-auto {
  pointer-events: auto;
}

.\!pointer-events-auto {
  pointer-events: auto !important;
}

.invisible {
  visibility: hidden;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
}

.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.top-0 {
  top: 0;
}

.left-0 {
  left: 0;
}

.left-\[3rem\] {
  left: 3rem;
}

.bottom-\[5rem\] {
  bottom: 5rem;
}

.right-\[3rem\] {
  right: 3rem;
}

.left-1\/2 {
  left: 50%;
}

.bottom-\[7\.2rem\] {
  bottom: 7.2rem;
}

.bottom-\[4rem\] {
  bottom: 4rem;
}

.bottom-0 {
  bottom: 0;
}

.right-0 {
  right: 0;
}

.bottom-32 {
  bottom: 3.2rem;
}

.top-\[2\.5rem\] {
  top: 2.5rem;
}

.top-\[-8rem\] {
  top: -8rem;
}

.left-\[-8rem\] {
  left: -8rem;
}

.right-\[-8rem\] {
  right: -8rem;
}

.top-\[-3rem\] {
  top: -3rem;
}

.bottom-30 {
  bottom: 3rem;
}

.right-40 {
  right: 4rem;
}

.left-40 {
  left: 4rem;
}

.left-\[-999rem\] {
  left: -999rem;
}

.bottom-\[6rem\] {
  bottom: 6rem;
}

.bottom-\[17\.5rem\] {
  bottom: 17.5rem;
}

.z-\[9999\] {
  z-index: 9999;
}

.z-\[1000\] {
  z-index: 1000;
}

.z-\[8888\] {
  z-index: 8888;
}

.z-2 {
  z-index: 2;
}

.z-\[0\] {
  z-index: 0;
}

.z-1 {
  z-index: 1;
}

.z-3 {
  z-index: 3;
}

.z-4 {
  z-index: 4;
}

.z-\[1002\] {
  z-index: 1002;
}

.z-5 {
  z-index: 5;
}

.z-\[1003\] {
  z-index: 1003;
}

.z-\[2000\] {
  z-index: 2000;
}

.z-\[12\] {
  z-index: 12;
}

.z-10 {
  z-index: 10;
}

.order-last {
  order: 9999;
}

.col-span-8 {
  grid-column: span 8 / span 8;
}

.col-span-22 {
  grid-column: span 22 / span 22;
}

.col-span-20 {
  grid-column: span 20 / span 20;
}

.col-span-7 {
  grid-column: span 7 / span 7;
}

.col-span-3 {
  grid-column: span 3 / span 3;
}

.col-span-5 {
  grid-column: span 5 / span 5;
}

.col-span-2 {
  grid-column: span 2 / span 2;
}

.col-span-19 {
  grid-column: span 19 / span 19;
}

.col-span-9 {
  grid-column: span 9 / span 9;
}

.col-span-6 {
  grid-column: span 6 / span 6;
}

.col-start-2 {
  grid-column-start: 2;
}

.col-start-12 {
  grid-column-start: 12;
}

.col-start-1 {
  grid-column-start: 1;
}

.col-start-17 {
  grid-column-start: 17;
}

.col-start-11 {
  grid-column-start: 11;
}

.col-start-3 {
  grid-column-start: 3;
}

.col-end-10 {
  grid-column-end: 10;
}

.col-end-9 {
  grid-column-end: 9;
}

.mx-\[5px\] {
  margin-left: 5px;
  margin-right: 5px;
}

.my-10 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mx-20 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.mx-\[0\.35rem\] {
  margin-left: 0.35rem;
  margin-right: 0.35rem;
}

.mt-30 {
  margin-top: 3rem;
}

.mt-\[-1px\] {
  margin-top: -1px;
}

.ml-10 {
  margin-left: 1rem;
}

.mt-20 {
  margin-top: 2rem;
}

.mt-10 {
  margin-top: 1rem;
}

.mb-40 {
  margin-bottom: 4rem;
}

.mt-15 {
  margin-top: 1.5rem;
}

.mt-100 {
  margin-top: 10rem;
}

.mb-20 {
  margin-bottom: 2rem;
}

.mb-17 {
  margin-bottom: 1.7rem;
}

.mr-30 {
  margin-right: 3rem;
}

.mt-120 {
  margin-top: 12rem;
}

.ml-30 {
  margin-left: 3rem;
}

.mb-55 {
  margin-bottom: 5.5rem;
}

.mb-30 {
  margin-bottom: 3rem;
}

.mb-5 {
  margin-bottom: 0.5rem;
}

.mt-60 {
  margin-top: 6rem;
}

.mr-20 {
  margin-right: 2rem;
}

.ml-auto {
  margin-left: auto;
}

.mt-50 {
  margin-top: 5rem;
}

.mt-40 {
  margin-top: 4rem;
}

.mt-80 {
  margin-top: 8rem;
}

.mb-35 {
  margin-bottom: 3.5rem;
}

.mb-45 {
  margin-bottom: 4.5rem;
}

.mb-10 {
  margin-bottom: 1rem;
}

.mb-\[1\.7rem\] {
  margin-bottom: 1.7rem;
}

.-mt-200 {
  margin-top: -20rem;
}

.mt-7 {
  margin-top: 0.7rem;
}

.mb-90 {
  margin-bottom: 9rem;
}

.mt-90 {
  margin-top: 9rem;
}

.mb-15 {
  margin-bottom: 1.5rem;
}

.mr-10 {
  margin-right: 1rem;
}

.mr-5 {
  margin-right: 0.5rem;
}

.mb-80 {
  margin-bottom: 8rem;
}

.mt-45 {
  margin-top: 4.5rem;
}

.mb-150 {
  margin-bottom: 15rem;
}

.mb-100 {
  margin-bottom: 10rem;
}

.ml-0 {
  margin-left: 0;
}

.-mr-45 {
  margin-right: -4.5rem;
}

.mb-\[2rem\] {
  margin-bottom: 2rem;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.h-full {
  height: 100%;
}

.h-auto {
  height: auto;
}

.h-\[4\.9rem\] {
  height: 4.9rem;
}

.h-\[20px\] {
  height: 20px;
}

.h-\[6px\] {
  height: 6px;
}

.h-\[4rem\] {
  height: 4rem;
}

.h-\[1px\] {
  height: 1px;
}

.h-\[60rem\] {
  height: 60rem;
}

.h-screen {
  height: 100vh;
}

.h-\[4\.8rem\] {
  height: 4.8rem;
}

.h-\[5\.6rem\] {
  height: 5.6rem;
}

.h-\[1rem\] {
  height: 1rem;
}

.h-\[1\.6rem\] {
  height: 4rem;
}

.h-\[32px\] {
  height: 32px;
}

.h-\[2rem\] {
  height: 2rem;
}

.h-\[28rem\] {
  height: 28rem;
}

.h-\[23rem\] {
  height: 23rem;
}

.h-\[3\.2rem\] {
  height: 3.2rem;
}

.h-\[0rem\] {
  height: 0;
}

.h-full-screen {
  height: calc(var(--vh) * 100);
}

.h-\[6rem\] {
  height: 6rem;
}

.min-h-full {
  min-height: 100%;
}

.w-full {
  width: 100%;
}

.w-\[20rem\] {
  width: 20rem;
}

.w-\[5rem\] {
  width: 5rem;
}

.w-\[15\.3rem\] {
  width: 15.3rem;
}

.w-\[20px\] {
  width: 20px;
}

.w-\[6px\] {
  width: 6px;
}

.w-\[4rem\] {
  width: 4rem;
}

.w-\[4\.8rem\] {
  width: 4.8rem;
}

.w-\[5\.6rem\] {
  width: 5.6rem;
}

.w-\[1rem\] {
  width: 1rem;
}

.w-auto {
  width: auto;
}

.w-\[32px\] {
  width: 32px;
}

.w-screen {
  width: 100vw;
}

.w-\[1px\] {
  width: 1px;
}

.w-\[6rem\] {
  width: 6rem;
}

.w-33 {
  width: 3.3rem;
}

.w-\[28rem\] {
  width: 28rem;
}

.w-\[23rem\] {
  width: 23rem;
}

.w-\[80\%\] {
  width: 80%;
}

.w-4\/5 {
  width: 80%;
}

.w-\[3\.2rem\] {
  width: 3.2rem;
}

.w-\[14rem\] {
  width: 14rem;
}

.w-\[70rem\] {
  width: 70rem;
}

.w-1\/2 {
  width: 50%;
}

.min-w-full {
  min-width: 100%;
}

.min-w-\[20px\] {
  min-width: 20px;
}

.max-w-full {
  max-width: 100%;
}

.max-w-\[20rem\] {
  max-width: 20rem;
}

.max-w-\[35rem\] {
  max-width: 35rem;
}

.max-w-\[123rem\] {
  max-width: 123rem;
}

.max-w-\[96rem\] {
  max-width: 96rem;
}

.flex-1 {
  flex: 1 1 0;
}

.origin-center {
  transform-origin: center;
}

.origin-left {
  transform-origin: left;
}

.-translate-x-1\/2 {
  --tw-translate-x: -50%;
  transform: var(--tw-transform);
}

.rotate-90 {
  --tw-rotate: 90deg;
  transform: var(--tw-transform);
}

.-rotate-90 {
  --tw-rotate: -90deg;
  transform: var(--tw-transform);
}

.scale-x-0 {
  --tw-scale-x: 0;
  transform: var(--tw-transform);
}

.transform {
  transform: var(--tw-transform);
}

.cursor-pointer {
  cursor: pointer;
}

.select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.grid-cols-10 {
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-cols-22 {
  grid-template-columns: repeat(22, minmax(0, 1fr));
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-18 {
  grid-template-columns: repeat(18, minmax(0, 1fr));
}

.grid-cols-9 {
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-cols-8 {
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-45 {
  gap: 4.5rem;
}

.gap-y-45 {
  row-gap: 4.5rem;
}

.gap-y-50 {
  row-gap: 5rem;
}

.gap-x-30 {
  -moz-column-gap: 3rem;
  column-gap: 3rem;
}

.overflow-hidden {
  overflow: hidden;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.rounded-full {
  border-radius: 9999px;
}

.border {
  border-width: 1px;
}

.border-l {
  border-left-width: 1px;
}

.border-t {
  border-top-width: 1px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-current {
  border-color: currentColor;
}

.border-white {
  --tw-border-opacity: 1;
  border-color: rgba(241, 240, 241, var(--tw-border-opacity));
}

.border-black {
  --tw-border-opacity: 1;
  border-color: rgba(21, 21, 21, var(--tw-border-opacity));
}

.border-opacity-10 {
  --tw-border-opacity: 0.1;
}

.border-opacity-25 {
  --tw-border-opacity: 0.25;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgba(108, 132, 147, var(--tw-bg-opacity));
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgba(2, 6, 59, var(--tw-bg-opacity));
}

.bg-\[\#777\] {
  --tw-bg-opacity: 1;
  background-color: rgba(119, 119, 119, var(--tw-bg-opacity));
}

.bg-current {
  background-color: currentColor;
}

.bg-\[\#ccc\] {
  --tw-bg-opacity: 1;
  background-color: rgba(204, 204, 204, var(--tw-bg-opacity));
}

.bg-\[\#000\] {
  --tw-bg-opacity: 1;
  background-color: rgba(2, 6, 112, var(--tw-bg-opacity));
}

.bg-black\/70 {
  background-color: rgba(21, 21, 21, 0.7);
}

.bg-gray-light {
  --tw-bg-opacity: 1;
  background-color: rgba(229, 229, 229, var(--tw-bg-opacity));
}

.bg-opacity-75 {
  --tw-bg-opacity: 0.75;
}

.bg-opacity-25 {
  --tw-bg-opacity: 0.25;
}

.fill-current {
  fill: currentColor;
}

.stroke-current {
  stroke: currentColor;
}

.object-cover {
  -o-object-fit: cover;
  object-fit: cover;
}

.p-30 {
  padding: 3rem;
}

.py-15 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.px-15 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-90 {
  padding-top: 9rem;
  padding-bottom: 9rem;
}

.py-200 {
  padding-top: 20rem;
  padding-bottom: 20rem;
}

.px-5 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-30 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.py-75 {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.py-25 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.py-100 {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.px-40 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.py-40 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.py-125 {
  padding-top: 12.5rem;
  padding-bottom: 12.5rem;
}

.px-20 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-30 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.px-25 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.py-10 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pl-30 {
  padding-left: 3rem;
}

.pb-30 {
  padding-bottom: 3rem;
}

.pt-30 {
  padding-top: 3rem;
}

.pr-15 {
  padding-right: 1.5rem;
}

.pt-100 {
  padding-top: 10rem;
}

.pb-100 {
  padding-bottom: 10rem;
}

.pl-5 {
  padding-left: 0.5rem;
}

.pl-90 {
  padding-left: 9rem;
}

.pb-60 {
  padding-bottom: 6rem;
}

.pt-\[30vh\] {
  padding-top: 30vh;
}

.pb-25 {
  padding-bottom: 2.5rem;
}

.pt-\[16\.5rem\] {
  padding-top: 16.5rem;
}

.pt-70 {
  padding-top: 7rem;
}

.pb-40 {
  padding-bottom: 4rem;
}

.pt-32 {
  padding-top: 3.2rem;
}

.pr-30 {
  padding-right: 3rem;
}

.pb-45 {
  padding-bottom: 4.5rem;
}

.pb-90 {
  padding-bottom: 9rem;
}

.pt-60 {
  padding-top: 6rem;
}

.pt-\[28rem\] {
  padding-top: 28rem;
}

.pl-20 {
  padding-left: 2rem;
}

.pl-10 {
  padding-left: 1rem;
}

.pt-25 {
  padding-top: 2.5rem;
}

.pt-\[23rem\] {
  padding-top: 23rem;
}

.pt-\[10rem\] {
  padding-top: 10rem;
}

.pt-\[25rem\] {
  padding-top: 25rem;
}

.pt-90 {
  padding-top: 9rem;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.font-serif {
  font-family: Cormorant Garamond;
}

.font-menu {
  font-family: "Yeseva One";
  font-weight: 200;
}

.font-sans {
  font-family: suisse;
}

.font-ext {
  font-family: gothic;
}

.text-17 {
  font-size: 1.7rem;
}

.text-14 {
  font-size: 1.4rem;
}

.text-8 {
  font-size: 0.8rem;
}

.text-20 {
  font-size: 2rem;
}

.text-13 {
  font-size: 1.3rem;
}

.text-37 {
  font-size: 3.7rem;
}

.text-32 {
  font-size: 3.2rem;
}

.text-\[16px\] {
  font-size: 20px;
}

.text-25 {
  font-size: 2.5rem;
}

.text-30 {
  font-size: 3rem;
}

.text-16 {
  font-size: 1.6rem;
}

.text-24 {
  font-size: 2.4rem;
}

.text-18 {
  font-size: 1.8rem;
}

.text-40 {
  font-size: 4rem;
}

.text-19 {
  font-size: 1.9rem;
}

.text-21 {
  font-size: 2.1rem;
}

.text-23 {
  font-size: 2.3rem;
}

.text-12 {
  font-size: 1.2rem;
}

.text-10 {
  font-size: 1rem;
}

.font-light {
  font-weight: 300;
}

.font-bold {
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.italic {
  font-style: italic;
}

.not-italic {
  font-style: normal;
}

.leading-\[1\.4\] {
  line-height: 1.4;
}

.leading-\[1\.25\] {
  line-height: 1.25;
}

.\!leading-\[1\.05\] {
  line-height: 1.05 !important;
}

.leading-normal {
  line-height: 1.5;
}

.leading-none {
  line-height: 1;
}

.leading-\[1\.1\] {
  line-height: 1.1;
}

.leading-\[1\.3\] {
  line-height: 1.3;
}

.leading-tight {
  line-height: 1.25;
}

.leading-\[1\.8\] {
  line-height: 1.8;
}

.tracking-tight {
  letter-spacing: -0.025em;
}

.tracking-\[-0\.03em\] {
  letter-spacing: -0.03em;
}

.tracking-widest {
  letter-spacing: 0.1em;
}

.text-white {
  --tw-text-opacity: 1;
  color: rgba(241, 240, 241, var(--tw-text-opacity));
}

.text-current {
  color: currentColor;
}

.text-black {
  --tw-text-opacity: 1;
  color: rgba(21, 21, 21, var(--tw-text-opacity));
}

.text-opacity-75 {
  --tw-text-opacity: 0.75;
}

.text-opacity-50 {
  --tw-text-opacity: 0.5;
}

.opacity-75 {
  opacity: 0.75;
}

.opacity-0 {
  opacity: 0;
}

.opacity-\[\.4\] {
  opacity: 0.4;
}

.\!opacity-100 {
  opacity: 1 !important;
}

.opacity-25 {
  opacity: 0.25;
}

.opacity-20 {
  opacity: 0.2;
}

.opacity-40 {
  opacity: 0.4;
}

.opacity-70 {
  opacity: 0.7;
}

.mix-blend-exclusion {
  mix-blend-mode: exclusion;
}

.blur-2xl {
  --tw-blur: blur(40px);
  filter: var(--tw-filter);
}

.backdrop-blur-lg {
  --tw-backdrop-blur: blur(16px);
  -webkit-backdrop-filter: var(--tw-backdrop-filter);
  backdrop-filter: var(--tw-backdrop-filter);
}

.backdrop-blur-md {
  --tw-backdrop-blur: blur(12px);
  -webkit-backdrop-filter: var(--tw-backdrop-filter);
  backdrop-filter: var(--tw-backdrop-filter);
}

.backdrop-filter {
  -webkit-backdrop-filter: var(--tw-backdrop-filter);
  backdrop-filter: var(--tw-backdrop-filter);
}

.transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  transition-duration: 150ms;
}

.transition-colors {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  transition-duration: 150ms;
}

.duration-500 {
  transition-duration: 500ms;
}

@font-face {
  font-family: "suisse";
  src: url("SuisseIntl-Regular-WebM.woff2") format("woff2"),
    url(SuisseIntl-Regular-WebM.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "gothic";
  src: url("trade-gothic.woff2") format("woff2"),
    url(trade-gothic.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --size: 375;
}

@media (min-width: 650px) {
  :root {
    --size: 1920;
  }
}

html {
  font-size: clamp(0px, 12px, 10 * (100vw / var(--size)));
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

body,
html {
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
  width: 100%;
}

body,
html {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 238, 255, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(21, 21, 21, var(--tw-text-opacity));
}

body {
  line-height: 1.6;
  overflow: hidden scroll;
}

body.is-loading {
  cursor: wait;
}

button {
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  background: none transparent;
  color: inherit;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  font: inherit;
  line-height: normal;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img {
  width: 100%;
}

::-moz-placeholder {
  font-family: inherit;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.4);
}

:-ms-input-placeholder {
  font-family: inherit;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.4);
}

::placeholder {
  font-family: inherit;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.4);
}

.vh {
  height: calc(var(--vh) * 100);
}

.main {
  position: relative;
}

[data-router-view] {
  position: relative;
  width: 100%;
}

[data-lazy-src]:not(.no-fade),
[data-src]:not(.no-fade) {
  opacity: 0;
}

[data-lazy-src]:not(.no-fade).is-loaded,
[data-src]:not(.no-fade).is-loaded {
  transition: opacity 0.1s ease;
  opacity: 1;
}

.aspect {
  padding-top: var(--aspect);
}

@media (max-width: 650px) {
  .aspect--mobile {
    padding-top: var(--aspect-mobile);
  }
}

.media-fill img,
.media-fill video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.js-stick-el {
  position: relative;
  top: 0;
}

@media (min-width: 650px) {
  .js-stick-el {
    position: -webkit-sticky;
    position: sticky;
  }
}

.media-cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.h-screen {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.radius-fix {
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.icon-pinterest {
  width: 0.7138671875em;
}

.is-disabled {
  opacity: 0.5;
  pointer-events: none;
}

.is-active-link {
  opacity: 0.5;
  pointer-events: none;
}

.h-img-scale img {
  transition: transform 1.1s cubic-bezier(0.19, 1, 0.22, 1);
}

.h-img-scale:hover img {
  transform: scale(1.075);
}

.frc-captcha {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  max-width: 70rem !important;
  width: 100%;
  border-radius: 1rem;
}

input,
select,
textarea {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: none transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select {
  text-transform: none;
}

select::-ms-expand {
  display: none;
}

select::-ms-value {
  background: none;
  color: inherit;
}

textarea {
  overflow: auto;
  resize: vertical;
}

input:-webkit-autofill,
input:-webkit-autofill:active,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
  -webkit-animation: autofill 0s forwards;
  animation: autofill 0s forwards;
}

.visuallyhidden,
input[type="checkbox"],
input[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden:checked ~ label,
.visuallyhidden:hover ~ label,
input[type="checkbox"]:checked ~ label,
input[type="checkbox"]:hover ~ label,
input[type="radio"]:checked ~ label,
input[type="radio"]:hover ~ label {
  opacity: 1;
}

input[type="email"],
input[type="text"],
textarea {
  background-color: transparent;
  width: 100%;
  outline: none;
}

input {
  font-family: inherit;
  border-radius: 0;
}

input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="radio"] {
  -webkit-appearance: inherit;
  -moz-appearance: inherit;
  appearance: inherit;
}

input {
  background-color: transparent;
  border: 0;
  outline: 0;
}

.steps {
  font-family: gothic;
}

.steps .step {
  position: relative;
  white-space: nowrap;
}

.steps .step:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  width: 100%;
  height: 1px;
  background: currentColor;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: 100% 100%;
  transition: transform 1s cubic-bezier(0.77, 0, 0.175, 1),
    background 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.steps .step.is-active:after {
  transform-origin: 0 0;
  transform: scaleX(1);
}

.js-form-slide .input-field {
  position: relative;
}

.js-form-slide .input-field:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: currentColor;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: 100% 100%;
  transition: transform 1s cubic-bezier(0.77, 0, 0.175, 1);
  transition-delay: 350ms;
  opacity: 0.6;
}

.js-form-slide.is-active .input-field:after {
  transform-origin: 0 0;
  transform: scaleX(1);
}

.nav-bar__item {
  transition: opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.nav-bar:hover .nav-bar__item {
  opacity: 0.35;
}

.nav-bar:hover .nav-bar__item:hover {
  opacity: 1;
}

.has-success .nav-bar__item {
  opacity: 0.35;
}

.has-success .nav-bar__item.active {
  opacity: 1;
}

.form-progress__bar {
  transform-origin: left center;
  will-change: transform;
  transform: scaleX(0);
  width: 100%;
  background-color: #fff;
  height: 4px;
  transition: transform 1.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.js-form-next {
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s cubic-bezier(0.77, 0, 0.175, 1),
    transform 1s cubic-bezier(0.77, 0, 0.175, 1),
    background 1s cubic-bezier(0.77, 0, 0.175, 1);
  transform: translateY(100%);
  border-radius: 30px;
}

.js-form-next.is-active {
  opacity: 1;
  pointer-events: all;
  cursor: pointer;
  transform: none;
}

.js-form-next.is-active .stroke-current {
  stroke-dasharray: 0%, 0%;
}

.js-form-next.is-hidden {
  opacity: 0;
}

.js-form-next .stroke-current {
  stroke-dasharray: 0%, 0% !important;
}

.js-form-prev {
  opacity: 1;
  pointer-events: all;
  cursor: pointer;
  transition: opacity 1s cubic-bezier(0.77, 0, 0.175, 1),
    transform 1s cubic-bezier(0.77, 0, 0.175, 1);
  transform: none;
}

.js-form-prev.is-hidden {
  opacity: 0;
  transform: translateY(100%);
}

.js-form-submit {
  pointer-events: none;
  opacity: 0;
  transition-delay: 1s;
  transition: opacity 1s cubic-bezier(0.77, 0, 0.175, 1);
}

.js-form-submit.is-active {
  pointer-events: all;
  opacity: 1;
}

.text-help {
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  padding-bottom: 1rem;
  color: #9f6bff;
  -webkit-animation: fadeIn 0.5s cubic-bezier(0.77, 0, 0.175, 1) both;
  animation: fadeIn 0.5s cubic-bezier(0.77, 0, 0.175, 1) both;
}

@media (max-width: 640px) {
  .text-help {
    text-align: center;
    left: 0;
    bottom: -7rem;
    display: none;
  }
}

.has-req .text-help {
  left: 0;
  width: 100%;
  text-align: center;
  bottom: -5rem;
}

@keyframes autofill {
  100% {
    background: transparent;
    color: inherit;
  }
}

@-webkit-keyframes autofill {
  100% {
    background: transparent;
    color: inherit;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.font-serif,
h1,
h2,
h3 {
  font-weight: 600;
}

.title-section {
  font-family: Yeseva One;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.25;
  letter-spacing: -0.025em;
}

@media (min-width: 650px) {
  .title-section {
    font-size: 3rem;
  }
}

.title-post {
  font-family: plantin;
  font-size: 2.3rem;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: -0.025em;
}

@media (min-width: 650px) {
  .title-post {
    font-size: 3rem;
  }
}

.label {
  font-family: "Yeseva One";
  font-size: 3.8rem;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.intro i {
  display: inline-block;
}

.txt h1,
.txt h2,
.txt h3 {
  font-family: plantin;
  font-size: 3.5rem;
  line-height: 1.25;
  letter-spacing: -0.025em;
}

.txt > * {
  line-height: 1.8;
}

.txt > *:not(:last-child) {
  margin-bottom: 3rem;
}

.bg-black .txt p {
  opacity: 0.75;
}

.txt ol li,
.txt ul li {
  position: relative;
  padding-left: 1.15em;
}

.txt ol li:not(:last-child),
.txt ul li:not(:last-child) {
  margin-bottom: 0.35rem;
}

.txt ol li:before,
.txt ul li:before {
  content: "";
  position: absolute;
  top: 0.6em;
  left: 0;
  width: 0.35em;
  height: 0.35em;
  border-radius: 999px;
}

.txt ol li:before,
.txt ul li:before {
  background-color: currentColor;
}

.bg-black {
  --tw-text-opacity: 1;
  color: rgba(241, 240, 241, var(--tw-text-opacity));
}

.bg-white {
  --tw-text-opacity: 1;
  color: rgba(21, 21, 21, var(--tw-text-opacity));
}

em,
i {
  font-style: italic;
}

a {
  display: inline-flex;
}

p a {
  position: relative;
}

p a:after,
p a:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  transition: transform 0.4s;
}

p a:before {
  transition-delay: 0s;
  transform: scaleX(0);
  transform-origin: left;
}

p a:after {
  transition-delay: 0.15s;
  transform-origin: right;
}

p a:hover:before {
  transition-delay: 0.15s;
  transform: scaleX(1);
}

p a:hover:after {
  transition-delay: 0s;
  transform: scaleX(0);
}

.ulinedouble {
  position: relative;
}

.ulinedouble:after,
.ulinedouble:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  transition: transform 0.4s;
}

.ulinedouble:before {
  transition-delay: 0s;
  transform: scaleX(0);
  transform-origin: left;
}

.ulinedouble:after {
  transition-delay: 0.15s;
  transform-origin: right;
}

.ulinedouble:hover:before {
  transition-delay: 0.15s;
  transform: scaleX(1);
}

.ulinedouble:hover:after {
  transition-delay: 0s;
  transform: scaleX(0);
}

.uline {
  position: relative;
  line-height: 1;
}

.uline:after {
  content: "";
  position: absolute;
  bottom: 0.1em;
  left: 0;
  width: 100%;
  border-top: 1px solid currentColor;
  transition: transform 0.75s cubic-bezier(0.19, 1, 0.22, 1);
  transform-origin: right;
  transform: scaleX(0);
}

.uline.is-active:after,
.uline:hover:after {
  transform-origin: left;
  transform: scaleX(1);
}

.uline.is-active {
  pointer-events: none;
}

.mfilter-active {
  position: relative;
  line-height: 1;
}

.mfilter-active:after {
  content: "";
  position: absolute;
  bottom: -0.1em;
  left: 0;
  width: 100%;
  border-top: 1px solid currentColor;
  transform: scaleX(1);
}

.is-active-link.mfilters-item {
  opacity: 1 !important;
}

.is-active-link .mfilters-links {
  opacity: 1 !important;
}

.hero:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.3;
  z-index: 1;
  pointer-events: none;
}

@media (min-width: 650px) {
  .hero__title br {
    display: none;
  }
}

.menu-sub {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.35s ease-out;
}

.menu-sub:before {
  transform: scaleY(0);
  transition: transform 2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

li:hover .menu-sub {
  opacity: 1;
  pointer-events: auto;
}

li:hover .menu-sub:before {
  transform: scaleY(1);
}

body:not(.is-mobile) {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 238, 255, var(--tw-bg-opacity));
}

body:not(.is-mobile) {
  --tw-text-opacity: 1;
  color: rgba(21, 21, 21, var(--tw-text-opacity));
}

body:not(.is-mobile) .menu-sub-item .menu-sub-item__text:hover {
  --tw-text-opacity: 1;
  color: rgba(241, 240, 241, var(--tw-text-opacity));
  mix-blend-mode: difference;
}

.is-mobile .menu-sub-item__image {
  display: none;
}

body:not(.is-mobile) .menu-sub-item__image {
  transform: scale(0.75) translateY(-50%);
  opacity: 0;
  overflow: hidden;
}

body:not(.is-mobile) .menu-sub-item__image img {
  transform: scale(1.5);
}

body:not(.is-mobile) .menu-sub-item:hover .menu-sub-item__image {
  transition: transform 1.1s cubic-bezier(0.19, 1, 0.22, 1),
    opacity 1.1s cubic-bezier(0.19, 1, 0.22, 1);
  transform: scale(1) translateY(-50%);
  opacity: 1;
}

body:not(.is-mobile) .menu-sub-item:hover .menu-sub-item__image img {
  transition: transform 1.1s cubic-bezier(0.19, 1, 0.22, 1);
  transform: scale(1);
}

.menu-sub-item:hover {
  z-index: 10;
}

.menu-toggle-text span {
  transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.is-menu-open .menu-toggle-text span {
  transform: translateY(-100%);
}

.menu-toggle span:after,
.menu-toggle span:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: currentColor;
  transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.menu-toggle span:before {
  transform: translateY(-2px) rotate(0deg);
}

.menu-toggle span:after {
  transform: translateY(2px) rotate(0deg);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.carousel {
  --slides: 1.1;
  --gutter: 2rem;
  --slide-width: calc(
    (100% / var(--slides)) - var(--gutter) + (var(--gutter) / var(--slides))
  );
}

@media (min-width: 650px) {
  .carousel {
    --slides: 3;
    --gutter: 9rem;
  }
}

.carousel-slide {
  min-width: var(--slide-width);
  max-width: var(--slide-width);
  margin-right: var(--gutter);
}

.project-tile {
  overflow: hidden;
  height: 75vh;
}

@media (min-width: 650px) {
  .project-tile {
    height: 100vh;
    height: calc(var(--vh) * 100);
  }
}

.project-tile__inset {
  overflow: hidden;
  -webkit-clip-path: inset(8rem);
  clip-path: inset(8rem);
}

.project-tile__inset img {
  transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
  will-change: transform;
}

.project-tile__inset:hover img {
  transform: scale(0.85);
}

.single-hero {
  --aspect: 125%;
}

@media (min-width: 650px) {
  .single-hero {
    --aspect: 56.25%;
  }
}

.spaces-list__image {
  transform: scale(0.75);
  opacity: 0;
  overflow: hidden;
}

.spaces-list__image img {
  transform: scale(1.5);
}

.spaces-list__image.is-active {
  transition: transform 1.1s cubic-bezier(0.19, 1, 0.22, 1),
    opacity 1.1s cubic-bezier(0.19, 1, 0.22, 1);
  transform: scale(1);
  opacity: 1;
}

.spaces-list__image.is-active img {
  transition: transform 1.1s cubic-bezier(0.19, 1, 0.22, 1);
  transform: scale(1);
}

.gl {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100% !important;
  min-height: 100% !important;
  opacity: 0.5;
}

.gradient-fallback {
  display: none;
}

.is-mobile .gradient-fallback {
  display: block;
}

@media (min-width: 650px) {
  .article-cols {
    -moz-column-gap: 8.8rem;
    column-gap: 8.8rem;
    -moz-column-break-inside: avoid;
    break-inside: avoid;
  }

  .article-cols > * {
    -moz-column-break-inside: avoid;
    break-inside: avoid;
  }

  .article-cols.--3 {
    -moz-columns: 3;
    columns: 3;
  }

  .article-cols.--2 {
    -moz-columns: 2;
    columns: 2;
    padding: 17.6rem 8.8rem 0;
  }
}

.sticky-slides {
  --sticky-slides: 1.1;
  --gutter: 2rem;
  --sticky-slide-width: calc(
    (100% / var(--sticky-slides)) - var(--gutter) +
      (var(--gutter) / var(--sticky-slides))
  );
}

@media (min-width: 650px) {
  .sticky-slides {
    --sticky-slides: 3.2;
    --gutter: 9rem;
  }
}

.sticky-slides .sticky-slide {
  min-width: var(--sticky-slide-width);
  max-width: var(--sticky-slide-width);
  height: 47rem;
  margin-right: var(--gutter);
  background: rgba(232, 230, 223, 0.1);
  border: 1px solid #494949;
  border-radius: 12px;
  cursor: pointer;
}

@media (max-width: 650px) {
  .sticky-slides .sticky-slide {
    height: 40rem;
    margin-right: 0;
    min-width: 100%;
    max-width: 100%;
  }
}

.sticky-slides .sticky--slide-icon {
  transition: transform 0.85s cubic-bezier(0.19, 1, 0.22, 1);
  transform-origin: center center;
}

.sticky-slides .sticky--slide-info {
  transform: translate3d(0, 70%, 0);
  transition: transform 0.85s cubic-bezier(0.19, 1, 0.22, 1);
}

@media (min-width: 650px) {
  .sticky-slides .sticky--slide-info {
    transform: translate3d(0, 60%, 0);
  }
}

.sticky-slides .sticky--slide-info-p {
  opacity: 0;
  transition: opacity 1.1s cubic-bezier(0.19, 1, 0.22, 1);
  transition-delay: 0s;
}

.sticky-slides .gradient-sticky-progress {
  opacity: 0;
  transition: opacity 1.1s cubic-bezier(0.19, 1, 0.22, 1);
}

@media (hover: hover) and (pointer: fine) {
  .sticky-slides .sticky-shimmer {
    transform: translate(-80%, -80%);
    opacity: 0;
    transition: opacity 1.1s cubic-bezier(0.19, 1, 0.22, 1);
  }

  @media (max-width: 650px) {
    .sticky-slides .sticky-shimmer {
      opacity: 1;
      -webkit-animation-play-state: paused;
      animation-play-state: paused;
      transform: translate(0%, 0%);
      -webkit-animation: none;
      animation: none;
    }
  }

  .sticky-slides .sticky-shimmer-1 {
    transform: translate(var(--bX), var(--bY));
  }

  .sticky-slides .sticky-shimmer-2 {
    transform: translate(var(--bX2), var(--bY2));
  }

  .sticky-slides .sticky-shimmer-one {
    background: #2e2a75;
    filter: blur(100px);
  }

  .sticky-slides .sticky-shimmer-two {
    background: rgba(80, 21, 116, 0.57);
    filter: blur(100px);
  }
}

.plus-info-sticky {
  opacity: 1;
  transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

@media (hover: hover) and (pointer: fine) {
  .sticky-slide:hover .sticky--slide-icon {
    transform: scale(0.9);
  }

  .sticky-slide:hover .sticky--slide-info {
    transform: translate3d(0, 0, 0);
    transition-delay: 0s;
  }

  .sticky-slide:hover .sticky--slide-info-p {
    opacity: 1;
    transition-delay: 0.1s;
  }

  .sticky-slide:hover .sticky-shimmer {
    opacity: 1;
  }
}

.is-clicked .sticky--slide-icon {
  transform: scale(0.9);
}

.is-clicked .sticky--slide-info {
  transform: translate3d(0, 0, 0);
  transition-delay: 0s;
}

.is-clicked .sticky--slide-info-p {
  opacity: 1;
  transition-delay: 0.1s;
}

.is-clicked .gradient-sticky-progress {
  opacity: 0.9;
}

.is-clicked .plus-info-sticky {
  opacity: 0;
}

.js-stick-progress {
  left: 0 !important;
}

#about .pin-spacer {
  --tw-bg-opacity: 1;
  background-color: rgba(21, 21, 21, var(--tw-bg-opacity));
}

.grecaptcha-badge {
  opacity: 0;
  visibility: hidden;
  pointer-events: none !important;
}

.before\:absolute::before {
  content: "";
  position: absolute;
}

.before\:inset-0::before {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.before\:top-0::before {
  content: "";
  top: 0;
}

.before\:left-\[10rem\]::before {
  content: "";
  left: 10rem;
}

.before\:hidden::before {
  content: "";
  display: none;
}

.before\:h-full::before {
  content: "";
  height: 100%;
}

.before\:origin-top::before {
  content: "";
  transform-origin: top;
}

.before\:rounded-full::before {
  content: "";
  border-radius: 9999px;
}

.before\:border::before {
  content: "";
  border-width: 1px;
}

.before\:border-l::before {
  content: "";
  border-left-width: 1px;
}

.before\:border-black::before {
  content: "";
  --tw-border-opacity: 1;
  border-color: rgba(21, 21, 21, var(--tw-border-opacity));
}

.before\:border-opacity-10::before {
  content: "";
  --tw-border-opacity: 0.1;
}

.hover\:opacity-100:hover {
  opacity: 1;
}

@media (min-width: 650px) {
  .s\:relative {
    position: relative;
  }

  .s\:inset-\[3rem\] {
    top: 3rem;
    right: 3rem;
    bottom: 3rem;
    left: 3rem;
  }

  .s\:inset-\[-3rem\] {
    top: -3rem;
    right: -3rem;
    bottom: -3rem;
    left: -3rem;
  }

  .s\:left-\[8\.8rem\] {
    left: 8.8rem;
  }

  .s\:bottom-\[8\.8rem\] {
    bottom: 8.8rem;
  }

  .s\:left-full {
    left: 100%;
  }

  .s\:top-\[-13rem\] {
    top: -13rem;
  }

  .s\:left-\[-13rem\] {
    left: -13rem;
  }

  .s\:top-\[-24rem\] {
    top: -24rem;
  }

  .s\:right-\[-16rem\] {
    right: -16rem;
  }

  .s\:top-\[15rem\] {
    top: 15rem;
  }

  .s\:bottom-\[17\.5rem\] {
    bottom: 17.5rem;
  }

  .s\:order-first {
    order: -9999;
  }

  .s\:order-4 {
    order: 4;
  }

  .s\:order-3 {
    order: 3;
  }

  .s\:col-span-20 {
    grid-column: span 20 / span 20;
  }

  .s\:col-span-9 {
    grid-column: span 9 / span 9;
  }

  .s\:col-span-6 {
    grid-column: span 6 / span 6;
  }

  .s\:col-span-14 {
    grid-column: span 14 / span 14;
  }

  .s\:col-span-22 {
    grid-column: span 22 / span 22;
  }

  .s\:col-span-15 {
    grid-column: span 15 / span 15;
  }

  .s\:col-span-2 {
    grid-column: span 2 / span 2;
  }

  .s\:col-span-3 {
    grid-column: span 3 / span 3;
  }

  .s\:col-span-5 {
    grid-column: span 5 / span 5;
  }

  .s\:col-span-12 {
    grid-column: span 12 / span 12;
  }

  .s\:col-span-8 {
    grid-column: span 8 / span 8;
  }

  .s\:col-span-4 {
    grid-column: span 4 / span 4;
  }

  .s\:col-span-7 {
    grid-column: span 7 / span 7;
  }

  .s\:col-span-10 {
    grid-column: span 10 / span 10;
  }

  .s\:col-span-16 {
    grid-column: span 16 / span 16;
  }

  .s\:col-span-13 {
    grid-column: span 13 / span 13;
  }

  .s\:col-start-4 {
    grid-column-start: 4;
  }

  .s\:col-start-2 {
    grid-column-start: 2;
  }

  .s\:col-start-12 {
    grid-column-start: 12;
  }

  .s\:col-start-3 {
    grid-column-start: 3;
  }

  .s\:col-start-14 {
    grid-column-start: 14;
  }

  .s\:col-start-5 {
    grid-column-start: 5;
  }

  .s\:col-start-1 {
    grid-column-start: 1;
  }

  .s\:col-start-8 {
    grid-column-start: 8;
  }

  .s\:col-start-15 {
    grid-column-start: 15;
  }

  .s\:col-start-6 {
    grid-column-start: 6;
  }

  .s\:col-start-11 {
    grid-column-start: 11;
  }

  .s\:col-start-7 {
    grid-column-start: 7;
  }

  .s\:col-start-16 {
    grid-column-start: 16;
  }

  .s\:col-start-13 {
    grid-column-start: 13;
  }

  .s\:col-end-20 {
    grid-column-end: 20;
  }

  .s\:col-end-21 {
    grid-column-end: 21;
  }

  .s\:mx-\[10px\] {
    margin-left: 10px;
    margin-right: 10px;
  }

  .s\:my-15 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .s\:mx-10 {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .s\:mt-70 {
    margin-top: 7rem;
  }

  .s\:ml-15 {
    margin-left: 1.5rem;
  }

  .s\:mt-30 {
    margin-top: 3rem;
  }

  .s\:mb-50 {
    margin-bottom: 5rem;
  }

  .s\:mt-20 {
    margin-top: 2rem;
  }

  .s\:mt-\[25rem\] {
    margin-top: 25rem;
  }

  .s\:mb-30 {
    margin-bottom: 3rem;
  }

  .s\:mt-0 {
    margin-top: 0;
  }

  .s\:ml-\[10px\] {
    margin-left: 10px;
  }

  .s\:mt-120 {
    margin-top: 12rem;
  }

  .s\:mb-0 {
    margin-bottom: 0;
  }

  .s\:mt-100 {
    margin-top: 10rem;
  }

  .s\:mr-30 {
    margin-right: 3rem;
  }

  .s\:-mt-80 {
    margin-top: -8rem;
  }

  .s\:mt-50 {
    margin-top: 5rem;
  }

  .s\:mb-10 {
    margin-bottom: 1rem;
  }

  .s\:-mt-200 {
    margin-top: -20rem;
  }

  .s\:mt-\[-12\.75rem\] {
    margin-top: -12.75rem;
  }

  .s\:mb-40 {
    margin-bottom: 4rem;
  }

  .s\:mr-10 {
    margin-right: 1rem;
  }

  .s\:mb-100 {
    margin-bottom: 10rem;
  }

  .s\:-mt-110 {
    margin-top: -11rem;
  }

  .s\:mb-70 {
    margin-bottom: 7rem;
  }

  .s\:mt-\[-1px\] {
    margin-top: -1px;
  }

  .s\:mb-200 {
    margin-bottom: 20rem;
  }

  .s\:mb-150 {
    margin-bottom: 15rem;
  }

  .s\:mb-20 {
    margin-bottom: 2rem;
  }

  .s\:mr-0 {
    margin-right: 0;
  }

  .s\:block {
    display: block;
  }

  .s\:flex {
    display: flex;
  }

  .s\:grid {
    display: grid;
  }

  .s\:hidden {
    display: none;
  }

  .s\:h-\[5\.6rem\] {
    height: 5.6rem;
  }

  .s\:h-\[4\.8rem\] {
    height: 4.8rem;
  }

  .s\:h-\[8\.8rem\] {
    height: 8.8rem;
  }

  .s\:h-\[1\.6rem\] {
    height: 1.6rem;
  }

  .s\:h-\[2\.1rem\] {
    height: 12rem;
  }

  .s\:h-\[2\.5rem\] {
    height: 2.5rem;
  }

  .s\:h-auto {
    height: auto;
  }

  .s\:h-screen {
    height: 100vh;
  }

  .s\:h-full-screen {
    height: calc(var(--vh) * 100);
  }

  .s\:h-\[44rem\] {
    height: 44rem;
  }

  .s\:h-\[37rem\] {
    height: 37rem;
  }

  .s\:w-\[42\.3rem\] {
    width: 42.3rem;
  }

  .s\:w-\[17\.3rem\] {
    width: 17.3rem;
  }

  .s\:w-\[4\.8rem\] {
    width: 4.8rem;
  }

  .s\:w-\[8\.8rem\] {
    width: 8.8rem;
  }

  .s\:w-\[1\.6rem\] {
    width: 1.6rem;
  }

  .s\:w-3\/4 {
    width: 75%;
  }

  .s\:w-1\/2 {
    width: 50%;
  }

  .s\:w-\[9rem\] {
    width: 9rem;
  }

  .s\:w-\[inherit\] {
    width: inherit;
  }

  .s\:w-\[44rem\] {
    width: 44rem;
  }

  .s\:w-\[37rem\] {
    width: 37rem;
  }

  .s\:w-\[60\%\] {
    width: 60%;
  }

  .s\:w-\[5\.6rem\] {
    width: 5.6rem;
  }

  .s\:w-auto {
    width: auto;
  }

  .s\:max-w-\[inherit\] {
    max-width: inherit;
  }

  .s\:max-w-\[55rem\] {
    max-width: 55rem;
  }

  .s\:grid-cols-22 {
    grid-template-columns: repeat(22, minmax(0, 1fr));
  }

  .s\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .s\:grid-cols-20 {
    grid-template-columns: repeat(20, minmax(0, 1fr));
  }

  .s\:grid-cols-11 {
    grid-template-columns: repeat(11, minmax(0, 1fr));
  }

  .s\:flex-row {
    flex-direction: row;
  }

  .s\:flex-wrap {
    flex-wrap: wrap;
  }

  .s\:items-center {
    align-items: center;
  }

  .s\:justify-end {
    justify-content: flex-end;
  }

  .s\:justify-center {
    justify-content: center;
  }

  .s\:gap-90 {
    gap: 9rem;
  }

  .s\:gap-x-90 {
    -moz-column-gap: 9rem;
    column-gap: 9rem;
  }

  .s\:gap-y-0 {
    row-gap: 0;
  }

  .s\:gap-x-0 {
    -moz-column-gap: 0;
    column-gap: 0;
  }

  .s\:whitespace-nowrap {
    white-space: nowrap;
  }

  .s\:bg-white {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 238, 255, var(--tw-bg-opacity));
  }

  .s\:p-90 {
    padding: 9rem;
  }

  .s\:py-150 {
    padding-top: 15rem;
    padding-bottom: 15rem;
  }

  .s\:py-\[27\.5rem\] {
    padding-top: 27.5rem;
    padding-bottom: 27.5rem;
  }

  .s\:px-15 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .s\:py-175 {
    padding-top: 17.5rem;
    padding-bottom: 17.5rem;
  }

  .s\:px-60 {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .s\:py-90 {
    padding-top: 9rem;
    padding-bottom: 9rem;
  }

  .s\:py-110 {
    padding-top: 11rem;
    padding-bottom: 11rem;
  }

  .s\:py-40 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .s\:py-\[30rem\] {
    padding-top: 30rem;
    padding-bottom: 30rem;
  }

  .s\:py-170 {
    padding-top: 17rem;
    padding-bottom: 17rem;
  }

  .s\:px-0 {
    padding-left: 0;
    padding-right: 0;
  }

  .s\:py-\[25rem\] {
    padding-top: 25rem;
    padding-bottom: 25rem;
  }

  .s\:px-45 {
    padding-left: 4.5rem;
    padding-right: 4.5rem;
  }

  .s\:py-35 {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }

  .s\:px-30 {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .s\:py-60 {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .s\:px-20 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .s\:pb-70 {
    padding-bottom: 7rem;
  }

  .s\:pt-75 {
    padding-top: 7.5rem;
  }

  .s\:pl-40 {
    padding-left: 4rem;
  }

  .s\:pr-0 {
    padding-right: 0;
  }

  .s\:pt-\[25rem\] {
    padding-top: 25rem;
  }

  .s\:pb-\[25rem\] {
    padding-bottom: 25rem;
  }

  .s\:pt-60 {
    padding-top: 6rem;
  }

  .s\:pl-175 {
    padding-left: 17.5rem;
  }

  .s\:pr-90 {
    padding-right: 9rem;
  }

  .s\:pb-90 {
    padding-bottom: 9rem;
  }

  .s\:pt-0 {
    padding-top: 0;
  }

  .s\:pl-200 {
    padding-left: 20rem;
  }

  .s\:pt-\[22\.5rem\] {
    padding-top: 22.5rem;
  }

  .s\:pt-\[19rem\] {
    padding-top: 19rem;
  }

  .s\:pb-200 {
    padding-bottom: 20rem;
  }

  .s\:pt-70 {
    padding-top: 7rem;
  }

  .s\:pt-40 {
    padding-top: 4rem;
  }

  .s\:pb-130 {
    padding-bottom: 13rem;
  }

  .s\:pb-\[10rem\] {
    padding-bottom: 10rem;
  }

  .s\:pb-\[30rem\] {
    padding-bottom: 30rem;
  }

  .s\:pt-\[40rem\] {
    padding-top: 40rem;
  }

  .s\:pr-80 {
    padding-right: 8rem;
  }

  .s\:pt-200 {
    padding-top: 20rem;
  }

  .s\:pt-\[23\.5rem\] {
    padding-top: 23.5rem;
  }

  .s\:pl-25 {
    padding-left: 2.5rem;
  }

  .s\:pl-0 {
    padding-left: 0;
  }

  .s\:pb-80 {
    padding-bottom: 8rem;
  }

  .s\:pb-100 {
    padding-bottom: 10rem;
  }

  .s\:pt-\[30rem\] {
    padding-top: 30rem;
  }

  .s\:pb-0 {
    padding-bottom: 0;
  }

  .s\:text-left {
    text-align: left;
  }

  .s\:text-center {
    text-align: center;
  }

  .s\:text-22 {
    font-size: 2.2rem;
  }

  .s\:text-12 {
    font-size: 1.2rem;
  }

  .s\:text-16 {
    font-size: 1.6rem;
  }

  .s\:text-25 {
    font-size: 2.5rem;
  }

  .s\:text-45 {
    font-size: 4.5rem;
  }

  .s\:text-40 {
    font-size: 3.5rem;
  }

  .s\:text-72 {
    font-size: 7.2rem;
  }

  .s\:text-18 {
    font-size: 1.8rem;
  }

  .s\:text-24 {
    font-size: 2.4rem;
  }

  .s\:text-26 {
    font-size: 2.6rem;
  }

  .s\:text-30 {
    font-size: 3rem;
  }

  .s\:text-14 {
    font-size: 1.4rem;
  }

  .s\:text-60 {
    font-size: 6rem;
  }

  .s\:text-35 {
    font-size: 3.5rem;
  }

  .s\:text-black {
    --tw-text-opacity: 1;
    color: rgba(21, 21, 21, var(--tw-text-opacity));
  }

  .s\:opacity-100 {
    opacity: 1;
  }

  .s\:before\:block::before {
    content: "";
    display: block;
  }
}

@media (min-width: 769px) {
  .m\:left-auto {
    left: auto;
  }

  .m\:right-\[7\.5rem\] {
    right: 7.5rem;
  }

  .m\:mr-120 {
    margin-right: 12rem;
  }

  .m\:h-\[7rem\] {
    height: 7rem;
  }

  .m\:w-\[7rem\] {
    width: 7rem;
  }

  .m\:py-225 {
    padding-top: 22.5rem;
    padding-bottom: 22.5rem;
  }
}

@media (hover: hover) and (pointer: fine) {
  .has-hover\:block {
    display: block;
  }

  .has-hover\:hidden {
    display: none;
  }
}

@media (max-width: 649px) {
  .max-s\:col-start-2 {
    grid-column-start: 2;
  }
}

.custom-margin {
  margin-right: 0;
}

@media (max-width: 650px) {
  .custom-margin {
    margin-bottom: 20px;
  }
}

@media (min-width: 650px) {
  .custom-margin {
    margin-right: 20px;
  }
}

.animated-gradient-bg {
  background: linear-gradient(135deg, #697ef0, #6779c8, #9da3c5);
  background-size: 400% 400%;
  animation: luxuryGradientShift 8s ease-in-out infinite;
  height: 60vh;
  width: 100%;
  position: relative;
  z-index: 0;
}

@keyframes luxuryGradientShift {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 100%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.menu-gradient-bg {
  background: linear-gradient(135deg, #697ef0, #6779c8, #9da3c5);
  background-size: 400% 400%;
  animation: luxuryGradientShift 8s ease-in-out infinite;
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 0;
}

@keyframes luxuryGradientShift {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 100%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.menu-color {
  background-color: transparent;
}

@media (min-width: 650px) {
  .menu-color {
    background-color: rgb(2, 6, 59);
  }
}
