figcaption {
  color: #444;
}

.hero__title {
  font-display: swap;
}

.iframe-container {
  background-color: black;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}

.iframe-container iframe {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
